*{
    margin:0%;
    padding:0%;
    text-decoration: none;
    font-family: Arial;
    overflow-x: hidden;
    }

.menu {
    width: 100%;
    background-color: black;
    padding-left: 3%;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 150%;
    text-align: center;
    align-content: center;
    display: block;
}

.texto {
    text-align: justify;
    margin-left: 0%;
    margin-right: 0%;
}

.fonte {
    color: white;
    font-size: large;
    text-align: center;
}

.fonte2 {
    color: black;
    text-align: center;
}

.fonte-centro {
    font-family: Arial;
    color: black;
    text-transform: uppercase;
}

.backg {
    background-image: url(img/pm_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;    
}

.backcor {
    background-color: black;
    overflow: visible;
}

.footer {
    background-color: black;
    text-align: center;
}

.overflow {
    overflow: auto;
}

.box-direita {
    width: 20%;
    float: right;
    background-color: black;
    padding-top: 4%;
    padding-right: 1%;
}

.box-esquerda {
    width: 20%;
    float: left;
    background-color: black;
    padding-top: 4%;
    padding-left: 1%;
}

.conteudo-meio {
    text-align: justify;
    width: 40%;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
}

.box-direita2 {
    width: 33.3%;
    float: right;
    background-color: black;
    padding-top: 4%;
    padding-right: 0%;
}

.box-esquerda2 {
    width: 33.3%;
    float: left;
    background-color: black;
    padding-top: 4%;
    padding-left: 0%;
}

.conteudo-meio2 {
    text-align: justify;
    width: 33.3%;
    margin: 0 auto;
    background-color: black;
    padding-top: 5%;
}

.image {
    height: 80%;
    width: 80%;
}

.image2 {
    height: 60%;
    width: 60%;
}

.image3 {
    height: 50%;
    width: 50%;
}

.image4 {
    align-content: center;
    height: 80%;
    width: 100%;
}

textarea {
    resize: none;
}

